/** Resetting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/*? HEADING NAV */
.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav__left {
  display: flex;
  gap: 0.3rem;
}

.nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: black;
  padding: 0.5rem;
  opacity: 0.8;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
.nav__right--appicon {
  vertical-align: middle;
  opacity: 0.8;
}

.nav__right--appicon:hover {
  opacity: 1;
}

.nav__right--button {
  background: #1a73e8;
  border: #4285f4;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  font-weight: 600;
  color: white;
}

.nav__right--button:hover {
  box-shadow: rgb(211, 211, 211) 3px 3px 5px;
  cursor: pointer;
  background-color: hsl(214.08, 82%, 40%);
}

/*? MAIN */

.main {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__logo {
  width: 272px;
  height: 92px;
}

.main__search-bar {
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  width: 460px;
  height: 39px;
  /* margin: 20px auto; */
}

.main__search-bar--input {
  width: 380px;
  height: 30px;
  font-size: 14px;
  border: none;
  outline: none;
  margin-top: 2px;
}

.main__search-bar--magnifier {
  width: 30px;
  vertical-align: middle;
}

.main__search-bar--mic {
  width: 15px;
  vertical-align: middle;
}

/* .main__buttons {
} */

.main__buttons--left,
.main__buttons--right {
  width: 147px;
  height: 36px;
  border: none;
  border-radius: 2px;
  background-color: #f8f9fa;
  margin: 30px 0;
  padding: 0 16px;
  height: 36px;
}

.main__buttons--left:hover,
.main__buttons--right:hover {
  border: 1px solid #d3d3d3;
  box-shadow: rgb(207, 207, 207) 3px 3px 5px;
  cursor: pointer;
}

.main__language a {
  text-decoration: none;
}

/*? FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%;
  line-height: 40px;
}
.footer__country {
  font-size: 14px;
  padding-left: 32px;
  border-bottom: 1px solid #dadce0;
  opacity: 0.8;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__bottom--left {
  /* float: left;
  width: 40%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__center {
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.8;
  padding: 1rem;
  flex-grow: 1;
}

.footer__center--yaprak-img {
  width: 20px;
  height: 20px;
}
.footer__center--karbon-btn {
  /* vertical-align: middle; */
  /* margin-right: 0.3rem; */
  font-size: 14px;
}

.footer__bottom--right {
  /* float: right; */
  display: flex;
  justify-content: center;
}

.footer__bottom ul {
  padding: 20px;
}
